@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a;
  color: #e2e8f0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}